@import "~bootstrap/scss/bootstrap";

html, body {
  padding: 10px;
  margin: 0;
  height: 100%;
  width: 100%;
}

#basic-form {
  justify-content: center;
  align-content: center;
  min-width: 500px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  @extend .border;
}

#special-title {
  color: #A50B32;
}

#basic-form h2 {
  padding-top: 15px;
  padding-bottom: 10px;
}

#basic-form h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#scrollable-dropdown {
  height: 230px;
  overflow-y: scroll;
}

.ticketBox {
  min-width: 100px;
  min-height: 150px;
  max-width: 300px;
  max-height: 400px;
  widtH: 300px;
  height: auto;
  margin: 30px;
  padding: 20px;
  @extend .border;
  border-radius: 10px;
  background: linear-gradient(to bottom, #fff 0%, #eff3fa 100%);
}

.ticketBox .leftItem {
  float: left;
}

.ticketBox .rightItem {
  float: right;
}