@import "~bootstrap/scss/bootstrap";

html, body {
  padding: 10px;
  margin: 0;
  height: 100%;
  width: 100%;
}

#basic-form {
  justify-content: center;
  align-content: center;
  min-width: 500px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  @extend .border;
}

#special-title {
  color: #A50B32;
}

#basic-form h2 {
  padding-top: 15px;
  padding-bottom: 10px;
}

#basic-form h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}